* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

header {
  padding: 6% 0;
}

section {
  padding: 5px;
  background-color: #bbb;
}

ul {
  list-style: none;
}

.login-form {
  display: flex;
  align-items: center;
}

ul.item-list {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

li.item {
  flex: 1;
  padding: 5px;
  height: 200px;
  min-width: 200px;
  width: 200px;
  margin: 5px;
}

ul.item-attr {
  padding: 5px;
}

ul.filter-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

li.filter {
  margin: 2px;
  padding: 5px;
}

li.filter-new {
  margin: 2px;
  padding: 5px;
}

section:nth-child(even) {
  background-color: #ddd;
}

ul.add-item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

li.add-item {
  margin: 2px;
  padding: 5px;
}

li.add-item-new {
  margin: 2px;
  padding: 5px;
}

li.item,
li.filter,
li.filter-new,
li.add-item,
li.add-item-new,
section {
  border: 1px solid black;
}
